#aa{
    font-size: 25px;
    color: blue;
}

#ab{
    font-size: 13px;
    color: green;
}

#ba{
    font-size: 25px;
    color: pink;
}

#bb{
    font-size: 23px;
    color: gray;
}

#ca{
    font-size: 35px;
    color: white;
}

#cb{
    font-size: 33px;
    color: greenyellow;
}
